<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/files/?path=style.css">
    <title></title>
</head>
<body>
<main>
    <p>Welcome $user &nbsp;|&nbsp; <a href="/logout">Logout</a></p>
    <h1>Expenses List - ${monthName} ${year}</h1>
    <div class="form_row">
        <a href="/expenses/list?month=${previousMonth}&year=${previousYear}">&lt; Previous Month</a>
        &nbsp;|&nbsp;
        <a href="/expenses/list?month=${currentMonth}&year=${currentYear}">Now</a>
        &nbsp;|&nbsp;
        <a href="/expenses/list?month=${nextMonth}&year=${nextYear}">Next Month &gt;</a>
    </div>
    #if($expenses.size() > 0)
    <table>
        <thead>
        <tr>
            <th style="width: 3%"></th>
            <th style="width: 2%">Date</th>
            <th style="width: 40%">Description</th>
            <th style="width: 15%">Amount</th>
            <th style="width: 15%">Payment Date</th>
            <th style="width: 15%">Payment Amount</th>
            <th style="width: 10%"></th>
        </tr>
        </thead>
        <tbody>
        #foreach( $expense in $expenses )
        <tr #if( !$expense.rPayment.paymentValue ) class="nopaid" #end>
            <td style="width: 3%"><a href="/expenses/update?expenseId=$expense.rExpense.id">Edit</a></td>
            <td>$expense.rExpense.dayNumber</td>
            <td>$expense.rExpense.description</td>
            <td class="curr">$CustomFormatter.formatCurrency($expense.rExpense.baseValue)</td>
            <td>$CustomFormatter.formatDate($expense.rPayment.paymentDate)</td>
            <td class="curr">$CustomFormatter.formatCurrency($expense.rPayment.paymentValue)</td>
            <td>
#if( $expense.rPayment.paymentValue )
                <a href="/payments/delete?paymentId=$expense.rPayment.id">Delete</a>
#else
                <a href="/payments/new?expenseId=$expense.rExpense.id&expenseDescription=$expense.rExpense.description">Add Payment</a>
#end
            </td>
        </tr>
        </tbody>
        #end
        <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th class="curr">$CustomFormatter.formatCurrency(${sumExpenses})</th>
            <th></th>
            <th class="curr">$CustomFormatter.formatCurrency(${sumPayments})</th>
            <th></th>
        </tr>
        </tfoot>
    </table>
    #else
    <p>No expenses found.</p>
    #end
    <div class="form_row">
        <a href="/expenses/new">Add Expense</a>
    </div>
</main>
</body>
</html>