body {
  font-family: system-ui;
  max-width: 90%;
  margin: 20px auto 20px auto;
  background: #f2f2f2;
}

@media (min-width:800px) {
    body {
        max-width: 70%;
    }
    body.edit {
        max-width: 90%
    }
}

a:link, a:visited {
    color: #2984D1;
}

h1 {
    text-align: center;
}

table {
  background: #ffffff;
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

td, th {
  padding: 4px;
  border: 1px solid black;
}

th {
    color: #ffffff;
    background: #2984D1;
}

.curr {
    text-align: right;
}

input {
    padding: 4px;
}

.form {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.form_row {
    display: table-row;
}

.form_el {
    display: table-cell;
    padding: 8px;
}

.nopaid {
    background: #ffe2e2;
}